<!-- <p>Création de compte :</p> -->
<div class='title'>  {{ 'register.titleregister' | translate }} </div>

<form [formGroup]="RegisterForm">
    <!-- firstname -->

        <mat-form-field class="">
        <mat-label>{{ 'register.firstname' | translate }}</mat-label>
        <input
            matInput
            type="text"
            placeholder="{{ 'register.placeholderfirstname' | translate }}"
            formControlName="firstname"
        >
        <mat-error *ngIf="firstname.touched && firstname.invalid">
            {{ 'register.firstnameinvalid' | translate }}
        </mat-error>
    </mat-form-field>

    <span class="example-spacer"></span>

     <!-- lastname -->

     <mat-form-field class="">
        <mat-label>{{ 'register.lastname' | translate }}</mat-label>
        <input
            matInput
            type="text"
            placeholder="{{ 'register.placeholderlastname' | translate }}"
            formControlName="lastname"
        >
        <mat-error *ngIf="lastname.touched && lastname.invalid">
            {{ 'register.lastnameinvalid' | translate }}
        </mat-error>
    </mat-form-field>

    <br>



    <!-- nom d utilisateur -->
    <mat-form-field>
        <mat-label>{{ 'register.username' | translate }}</mat-label>
        <input
            matInput
            type="text"
            placeholder="username"
            formControlName="username"
        >
        <mat-error *ngIf='username.invalid && username.touched'>   {{ 'register.surnameinvalid' | translate }} </mat-error>
    </mat-form-field>

    <span class="example-spacer"></span>

    <!-- email -->
    <mat-form-field>
        <mat-label>{{ 'register.email' | translate }}</mat-label>
        <input
            matInput
            type="email"
            placeholder="{{ 'register.placeholderemail' | translate }}"
            formControlName="email"
        >
        <mat-error *ngIf='email.invalid && email.touched'>{{ 'register.erroremail' | translate }}</mat-error>
    </mat-form-field> <br>



    <!-- password -->
    <mat-form-field>
        <mat-label>{{ 'register.password' | translate }}</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        >
        <mat-error *ngIf='password.invalid && password.touched'>  {{ 'register.passwordinvalid' | translate }} </mat-error>
    </mat-form-field>

    <span class="example-spacer"></span>

    <!-- confirm password  -->
    <mat-form-field>
        <mat-label>{{ 'register.passwordconfirm' | translate }}  </mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="passwordConfirm"
        >
        <mat-error *ngIf='passwordConfirm.invalid && passwordConfirm.touched'>{{ 'register.passwordconfirmerror' | translate }}</mat-error>
    </mat-form-field> <br>
    <button mat-raised-button color='primary' (click)='create()' [disabled]="RegisterForm.invalid" > {{ 'register.newcompte' | translate }}</button>
</form>
<div class="basdepage"></div>


<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <button mat-button (click)="returnToLogin()" mat-raised-button color="primary"> Return to Login page  </button>
