.example-spacer {
    // text-indent: 1px; 
    padding: 20px;
    }

    .edittitle {
        text-align: center;
        text-shadow: black;
        color: rgb(247, 147, 16);
        font-size: 30px;
    }