.example-spacer {
  // text-indent: 1px;
  padding: 20px;
  }

  .editUser {
      text-align: center;
      text-shadow: black;
      color: rgb(247, 147, 16);
      font-size: 30px;
  }

  .form {
    border: solid;
    margin-right: 635px;
    margin-left: 660px;
  }

  .button {
    margin-left: 704px;
    margin-top: 10px;

  }
