<div class="editUser"> Page d'édition du compte {{user.userName}}</div>

<br>



<form [formGroup]="editForm" class='form'>
  <div style="margin-top: 10px;">
  <span class="example-spacer"></span>
  <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
              matInput
              ng-model="text"
              placeholder="change ton first name"
              formControlName="editFirstName"
          >
  </mat-form-field> <br>

  <span class="example-spacer"></span>

  <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
              matInput
              type="text"
              placeholder="change ton last name"
              formControlName="editLastName"
          >
  </mat-form-field> <br>

  <span class="example-spacer"></span>

    <mat-form-field>
        <mat-label>Username</mat-label>
        <input
                matInput
                ng-model="text"
                placeholder="change ton userame"
                formControlName="editUsername"
            >
    </mat-form-field> <br>

    <span class="example-spacer"></span>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
          matInput
          placeholder="Password"
          formControlName="editPassword"
          [type]="hide ? 'password' : 'text'"
          >
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <br>

<span class="example-spacer"></span>
  <mat-form-field>
  <mat-label>Email</mat-label>
  <input
          matInput
          type="text"
          placeholder="change ton email"
          formControlName="editEmail"
      >
  </mat-form-field> <br>
  </div>
</form>

<div class='button'>
  <button mat-button mat-raised-button color="primary" (click)="updateUser()">Valider les modifications</button>
</div>
  <br>
  <br>
  <br>
  <span class="example-spacer"></span>
  <div> Supprimez votre compte!</div>
  <br><span class="example-spacer"></span>
  <button mat-button mat-raised-button color="warn">Delete</button>
  <br>
  <br>
  <br>
  <span class="example-spacer"></span>
  <button mat-button (click)="returnToUserPage()" mat-raised-button color="primary"> Return to user page  </button>
  <br>
  <br>
  <br>
  <br>
  <br>


