<header>
    <mat-toolbar>
        <a [routerLink]="['home']">
            <mat-icon class="home">home</mat-icon>
        </a>

        <span class="example-spacer"></span>

        <a *ngIf="!user" [routerLink]="['login']">
            <mat-icon class="connect">account_circle</mat-icon>
        </a>
        <a *ngIf="user" (click)='doLogout()' [routerLink]="['home']">
            <mat-icon class="disconnect">exit_to_app</mat-icon>
        </a>
        <a *ngIf="user" (click)='goAccount()'>
          <mat-icon class="account">perm_identity</mat-icon>
        </a>

        <span class="example-spacer"></span>

        <mat-form-field>
            <mat-label>Langue</mat-label>
            <mat-select [(ngModel)]="languageSelected" (selectionChange)='switchLanguage()'>
              <mat-option *ngFor="let language of languages" [value]="language">
                {{language}}
              </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-toolbar>
</header>
