

    .edittitle {
        text-align: center;
        text-shadow: black;
        color: rgb(247, 147, 16);
        font-size: 30px;
    }

    $default-font-color : hsl(200, 52%, 25%);

.title {
    text-align: center;
    text-shadow: black;
    color: rgb(247, 147, 16);
    font-size: 35px;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    width: auto; 
    height: auto;
    justify-content: space-between;
    align-content: space-between;

    & mat-card {
        color: $default-font-color; 
        &.empty {
            display: none;
        }
        &.movie {
            width: 20em; 
            height: 10em;
            background-color: rgba(99, 91, 219, 0.5);
            & .title{
                font-size: 32px;
            }
            & .new {
                color: rgb(247, 147, 16);
            }
            
        }
        &.person {
            width: 20em; 
            height: 10em;
            background-color: rgba(99, 91, 219, 0.5);
            & .title{
                font-size: 32px;
            }
            & .new {
                color: rgb(247, 147, 16);
            }
            
        }
        
        & mat-card-actions{
            &.detail{
                position: absolute;
                bottom: -8px;
                right: 30px;
                text-align: end;
                &:hover{
                    cursor: pointer;
                }
            }
            &.like{
                position: absolute;
                bottom: -8px;
                left: 30px;
                text-align: start;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}


mat-toolbar {
    background-color: rebeccapurple;
    color: white;
    
}

.example-spacer {
    // text-indent: 1px; 
    padding: 20px;
    }