<div class="logintitle"> Page de connection </div>

<span class="example-spacer"></span>

<form [formGroup]="loginForm">
    <mat-form-field>
        <mat-label>Nom d'utilisateur</mat-label>
        <input 
            matInput
            type="text"
            value=""
            placeholder="username"
            formControlName="userName"
        >
        <mat-error *ngIf='userName.invalid && userName.touched'>Le nom doit comprendre au moins 5 caractères.</mat-error>
    </mat-form-field>

    <span class="example-spacer"></span>

    <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input 
            matInput
            type="password"
            value=""
            placeholder="password"
            formControlName="password"
        >
        <mat-error *ngIf='password.invalid && password.touched'>Le mot de passe doit comprendre au moins 8 caractères.</mat-error>
    </mat-form-field>
    <span class="example-spacer"></span>

    <button mat-raised-button color='primary' (click)='doLogin()' [disabled]="loginForm.invalid" >Se connecter</button> 
    <span class="example-spacer"></span> <br>
    <span class="example-spacer"></span> <br>
    <span class="example-spacer"></span> <br>
    <span class="example-spacer"></span> 
    <div> Pas encore de compte ? </div>
    
        
    <button mat-raised-button color='primary' (click)='goToCreateAccount()'>Créer un compte !</button>
</form>
<div class="basdepage"></div>

<br>
<br><br>
<br>
<br>
<br>
<br>
<button mat-button (click)="returnToHome()" mat-raised-button color="primary"> Return to home page  </button>