.old {
    color: palegreen;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: auto; 
    height: auto;
    justify-content: space-between
}

$default-font-color : hsl(200, 52%, 25%);
mat-card {
    color: $default-font-color; 
    &.movie {
        width: 20em; 
        height: 10em; 
    }
}


mat-toolbar {
    background-color: rebeccapurple;
    color: white;
    
}

