.new {
    color: rgb(247, 147, 16);
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    width: auto; 
    height: auto;
    justify-content: space-between;
    align-content: space-between;
}

$default-font-color : hsl(200, 52%, 25%);
mat-card {
    color: $default-font-color; 
    &.movie {
        width: 20em; 
        height: 10em;
        background-color: rgba(99, 91, 219, 0.5);
        &.title{
            color: black;
        }
    }
}


mat-toolbar {
    background-color: rebeccapurple;
    color: white;
    
}

