<p>Hey, I'm AppComponent, and my title is {{ title }}.</p>

<mat-toolbar>
  <p>Voulez vous lancer une recherche par nom ?</p>
  <div id="search">
    <app-search (movies)="searchedListMovies($event)"></app-search>
  </div>

  <p> ... et l'affiner par années ?</p>
  <div>
    <mat-form-field>
      <mat-label>Années existante</mat-label>
      <mat-select [(ngModel)]="yearSelected">
        <mat-option [value]="0">All</mat-option>
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>

<p>Résultat(s) : </p>
<div class="wrapper">
  <mat-card [ngClass]="{'movie': true, 'empty' : (movie.year != yearSelected && yearSelected != 0)}" *ngFor="let movie of moviesOb | async">
    <div *ngIf="( (movie.year == yearSelected) || yearSelected == 0)">
      <mat-card-title [ngClass]="{'new' : movie.year >= 2010, 'title': true }">
        {{ movie.title }}
      </mat-card-title>
      <mat-card-subtitle>{{ movie.year }}</mat-card-subtitle>
      <mat-card-actions class="detail" *ngIf="user" [routerLink]="['../', 'movie', movie.idMovie]">Détails >>></mat-card-actions>
      <mat-card-actions class="detail" *ngIf="!user" (click)='needLogin(movie.idMovie)'>Détails >>></mat-card-actions>
      <mat-card-actions class="like" *ngIf="user" (click)='addLike(movie, user)'>J'aime ca !</mat-card-actions>
      <mat-card-actions class="like" *ngIf="!user" (click)='needLogin2()'>J'aime ca !</mat-card-actions>
    </div>
  </mat-card>
</div>
