<div class="title">  {{ 'global.movies' | translate | uppercase }}</div>

<span class="example-spacer"></span>

<mat-toolbar>
  <p>Voulez vous lancer une recherche par nom ?</p>
  <span class="example-spacer"></span>
  <div id="search">
    <app-search (datas)="searchedListMovies($event)"></app-search>
    
  </div>
  <span class='example-spacer' ></span>
  <!-- <mat-card-actions (click)='goAdvencedSearch()'> Recherche Avancé </mat-card-actions> -->
  <button mat-raised-button color='black' (click)='goAdvencedSearch()'>Recherche Avancé </button>
</mat-toolbar>

<p> 
  <span *ngIf="(moviesOb | async) ?.length > 1"> {{ (moviesOb | async) ?.length }} films </span>
  <span *ngIf="(moviesOb | async) ?.length == 1"> Un seul film </span>
  <span *ngIf="(moviesOb | async) ?.length < 1"> Pas de film </span>
  et 
  <span *ngIf="(personsOb | async) ?.length > 1"> {{ (personsOb | async) ?.length }} personnes </span>
  <span *ngIf="(personsOb | async) ?.length == 1"> une seule personne </span>
  <span *ngIf="(personsOb | async) ?.length < 1"> pas de personne </span>
  correspondent à votre recherche dans notre base de donnée !
  <a *ngIf="((moviesOb | async) ?.length > 8) && ((personsOb | async) ?.length > 0)" href="home#person"> GO TO PERSON </a>
</p>

<div *ngIf="(moviesOb | async) ?.length < 1 && (personsOb | async) ?.length < 1">
  <p> Votre recherche n'existe pas ? Rajoutez la !</p>
  <p> 
    <button mat-raised-button color='primary' [routerLink]="['../', 'addMovie']" >Ajouter un film </button>  
    <span class='example-spacer' ></span>
    <button mat-raised-button color='primary' [routerLink]="['../', 'addPerson']">Ajouter une personne (TODO) </button>
  </p>
</div>

<!-- Movie/////////////////////////// -->
<p *ngIf="(moviesOb | async) ?.length > 1"> Les films :</p>
<p *ngIf="(moviesOb | async) ?.length == 1"> Le film :</p>
<div class="wrapper py-3">
  <mat-card [ngClass]="{'movie': true}" *ngFor="let movie of moviesOb | async">
    <div>
      <mat-card-title [ngClass]="{'new' : movie.year >= 2016, 'title': true }">
        {{ movie.title }}
      </mat-card-title>
      <!--<mat-card-subtitle >{{ movie.year }} : {{ movie.year | currentTime | async }}</mat-card-subtitle>-->
      <mat-card-subtitle *ngIf="(currentYear - movie.year) == 0" >{{ movie.year }} : Film de cet année !</mat-card-subtitle>
      <mat-card-subtitle *ngIf="(currentYear - movie.year) == 1" >{{ movie.year }} : Film de l'année dernière !</mat-card-subtitle>
      <mat-card-subtitle *ngIf="((currentYear - movie.year) > 1 && (currentYear - movie.year) < 5)" >{{ movie.year }} : Film de plus de 2ans !</mat-card-subtitle>
      <mat-card-subtitle *ngIf="(currentYear - movie.year) > 4" >{{ movie.year }} : Film de plus de 5ans  !</mat-card-subtitle>

      <div *ngIf="user; else elseUser">
        <div *ngIf="contain(movie, user); else elseMovieNotLiked">
              <mat-card-actions class="detail" [routerLink]="['../', 'movie', movie.idMovie]">Détails >>></mat-card-actions>
              <mat-card-actions class="like" (click)='unlike(movie, user)'>
                J'aime !
                <mat-icon matBadge="1" matBadgeColor="warn" [@addLike]="movie.animationState">favorite</mat-icon>
              </mat-card-actions>
        </div>
        <ng-template #elseMovieNotLiked>
          <mat-card-actions class="detail" [routerLink]="['../', 'movie', movie.idMovie]">Détails >>></mat-card-actions>
          <mat-card-actions class="like" (click)='addLike(movie, user)'>
            J'aime !
            <mat-icon [@addLike]="movie.animationState">favorite_border</mat-icon>
          </mat-card-actions>
        </ng-template>
      </div>  

      <!-- 
        <mat-card-actions class="detail" [routerLink]="['../', 'movie', movie.idMovie]">Détails >>></mat-card-actions>
        <mat-card-actions class="like" (click)='addLike(movie, user)'>
          J'aime !
          <mat-icon *ngIf="movie.nbLike == 0" [@addLike]="movie.animationState">favorite_border</mat-icon>
          <mat-icon *ngIf="movie.nbLike > 0" matBadge="{{ movie.nbLike }}" matBadgeColor="warn" [@addLike]="movie.animationState">favorite</mat-icon>
        </mat-card-actions>
      -->
     
      <ng-template #elseUser>   
        <mat-card-actions class="detail" (click)='needLoginMovie(movie.idMovie)'>Détails >>></mat-card-actions>
        <mat-card-actions class="like" (click)='needLoginForLike()'>
          J'aime !  
          <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
      </ng-template> 

    </div>
  </mat-card>
</div>

<div class="example-spacer" id="person"></div>
<p *ngIf="(personsOb | async) ?.length > 1"> Les personnes :</p>
<p *ngIf="(personsOb | async) ?.length == 1"> La personne :</p>

<!-- PERSON/////////////////////////// -->
<div class="wrapper py-3">
  <mat-card [ngClass]="{'person': true}" *ngFor="let person of personsOb | async">
    <mat-card-title class="title"> {{ person.name }} </mat-card-title>
    <mat-card-subtitle > {{ person.birthdate | date : 'd MMM yyyy' }} : {{ person.birthdate | age }} </mat-card-subtitle >

    <mat-card-actions class="detail" *ngIf="user" [routerLink]="['../', 'person', person.idPerson]">Détails >>> </mat-card-actions>
    <mat-card-actions class="detail" *ngIf="!user" (click)='needLoginPerson(person.idPerson)'>Détails >>> </mat-card-actions> 
</mat-card>
</div>

