.titlePerson {
    text-align: center;
    text-shadow: black;
    color: rgb(247, 147, 16);
    font-size: 30px;
}

.titleMovie {
    text-align: center;
    text-shadow: black;
    color: rgb(247, 147, 16);
    font-size: 30px;
}

.mat-card {
  margin: auto;
  margin-top: 30px;
  width: 33.3333%;
  display: grid;
  text-align: center;
}


.mat-card-header {
  margin: auto;
  text-align: center;
}

.mat-card-title {
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-size: 50px;
}

.mat-card-content {
  margin: auto;
}

