


<!-- <p>Movie de la page : {{ movie | json }}</p> -->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{movie.title}}</mat-card-title>
    <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
   <table>
    <td>
      <tr>
        <p>
          Synopsis : {{movie.synopsis}}
        </p>
      </tr>
      <tr>
        <p>
          Genres : {{movie.genres}}
        </p>
      </tr>
      <tr>
        <p>
          Audiance : {{movie.audiance}}
        </p>
      </tr>
    </td>
  </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button (click)='doEdit()'>MODIFY</button>
  </mat-card-actions>
</mat-card>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span class="example-spacer"></span>
<button mat-button (click)="returnToHome()" mat-raised-button color="primary"> Return to home page  </button>
