


<!-- <p>Movie de la page : {{ movie | json }}</p> -->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{movie.title}}</mat-card-title>
    <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
   <table>
    <td>
      <tr>
        <p>
          Synopsis : {{movie.synopsis}}
        </p>
      </tr>
      <tr>
        <p>
          Genres : {{movie.genres}}
        </p>
      </tr>
      <tr>
        <p>
          Audiance : {{movie.audiance}}
        </p>
      </tr>
    </td>
  </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button (click)='doEdit()'>MODIFY</button>
  </mat-card-actions>
</mat-card>


<br>
<br>
<br>
<br>
<br>
<br>
<br>

<button mat-button (click)="returnToHome()" mat-raised-button color="primary"> Return to home page  </button>

<!-- <form [formGroup]="editForm" >
    <mat-form-field>
        <mat-label>Titre du film</mat-label>
        <input
                matInput
                ng-model="text"
                placeholder="changer le titre du film"
                formControlName="editTitle"
            >
    </mat-form-field>
    <mat-form-field>
        <mat-label>Année du film</mat-label>
        <input
                matInput
                type="text"
                placeholder="changer l'année' du film"
                formControlName="editYear"
            >
    </mat-form-field>
    <button mat-button (click)="update()" mat-raised-button color="primary">Valider</button>
    <br>
    <button mat-button (click)="delete()" mat-raised-button color="warn">Delete</button>
</form> -->

