<div class="edittitle"> Page d'ajout de film </div>

<br>
<br> 

<form [formGroup]="editForm" >
  <span class="example-spacer"></span>
  <mat-form-field>
      <mat-label>Titre du film</mat-label>
      <input
              matInput
              ng-model="text"
              placeholder="Ajouter un titre au film"
              formControlName="addTitle"
          >
  </mat-form-field> <br>

  <span class="example-spacer"></span>

  <mat-form-field>
      <mat-label>Année du film</mat-label>
      <input
              matInput
              type="text"
              placeholder="ajouter l'année du film"
              formControlName="addYear"
          >
  </mat-form-field> <br>

  <span class="example-spacer"></span>
  
  <!-- <mat-form-field>
    <mat-label>Synopsis du film</mat-label>
    <input
            matInput
            type="text"
            placeholder="changer le Synopsis du film"
            formControlName="editSynopsis"
        >
</mat-form-field> <br>
  
  <span class="example-spacer"></span>

  <mat-form-field>
    <mat-label>Genre(s) du film</mat-label>
    <input
            matInput
            type="text"
            placeholder="changer le genre du film"
            formControlName="editGenres"
        >
</mat-form-field> <br>
<span class="example-spacer"></span>
<mat-form-field>
  <mat-label>Audiance du film</mat-label>
  <input
          matInput
          type="text"
          placeholder="changer l'audiance du film"
          formControlName="editAudiance"
      >
</mat-form-field> <br> -->
 
<span class="example-spacer"></span>

  <button mat-button (click)="addMovie()" mat-raised-button color="primary">Valider ces données</button>
  <br>
  <br>
  <br>
  
  
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['../', 'Home']" mat-raised-button color="primary"> Return to Home page  </button>
  
</form>
